# Ahora instala las versiones actualizadas
python-dotenv==1.0.0
langchain
langchain-community
langchain-openai 
langchain-anthropic 
langchain-google-genai 
langchain-text-splitters 
langchain-chroma
openai 
anthropic 
google-generativeai 
ollama
pypdf
chromadb
tiktoken